body {
  background: #111;
  color: #fff;
  font-family: monospace;
}

.container {
  padding: 40px;
}

textarea {
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  background: #222;
  color: white;
}
